h1{
    /* Text align is relative to the parent element */
    text-align: center; 
    /* Using text decoration */
    text-decoration: red underline;
    /* Using letter spacing property */
    letter-spacing: 5px;
    font-size: 50px;
    /* Used to change font names  */
    font-family: Arial;
}

h2{
    text-align: center;
    font-weight: normal;
    font-family: impact;
}

p{
    /* Font Weight helps us adjust the boldness of the texts */
    font-weight: 500;
    /* Using line height property  */
    line-height: 2;
    font-size: 20 px;
}

a{
    /* Removing the underline from the anchor links */
    text-decoration: none;
}