h2{
    display: inline;
    background-color: pink;
}

span{
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px; /*Padding for inline elements gets implemented only from the left and the right side */
    margin: 20px; /* Margin for the inline elements gets implemented are set only from the left and the right side */
}