div{
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */

    /* Short Hand */
    border: 5px solid black;

    border-left-color: yellow;
    border-left-style: dashed;

    border-top: 5px dotted blue;

    /* Border Radius Property */
    border-radius: 15px;

    /* Padding Property */
    padding-top: 10px;

    /* Margin */
    margin: 20px;
}

h1{
    border-width: 2px;
    border-style: dashed;
    border-color: purple;
}

button{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: yellow;
}