<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <form method="POST" action="/posts">
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" placeholder="enter username" name="username">
        </div>
        <div>
            <label for="content">Write your Post Below: </label>
            <textarea id="content" name="content" placeholder="write your post"></textarea>
        </div>
        <button>Sumit Post</button>
    </form>
</body>
</html>